<div class="container" id="mechanical-issues" style="margin: 0;">
  <div class="row text-center">
    <table class="col-12" cellspacing="10">
      <tr>
        <td style="background-image: url('../../assets/images/temp.JPG');"></td>
      </tr>
    </table>
  </div>
  <div class="row spacer"></div>
  <div class="row">
    <div class="col-md-5 text-center" style="padding-top: 30px;">
      <img src="../../assets/images/engine.png" width="300" height="auto"/>
    </div>
    <div class="col-md-7 chapter-text">
      <h2>Lorum ipsum..</h2>
      <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi aliquet ut velit a ornare.<br>
          Nulla facilisi. Curabitur vitae euismod odio, sed gravida mi.<br>
          In hac habitasse platea dictumst. Nullam posuere augue erat, at scelerisque eros tempus a.<br>
          <br>
          Fusce accumsan venenatis ligula eget hendrerit. Nulla eu venenatis metus.<br>
          Morbi scelerisque mi at tincidunt tempus. Nulla placerat tincidunt arcu, a hendrerit purus tincidunt non. Maecenas quis mollis ex.<br>
          Praesent aliquet congue eros, vitae malesuada velit tempor vitae.<br>
      </p>
    </div>
  </div>
  <div class="row spacer"></div>
  <div class="row">
    <div class="col-md-6 chapter-text" style="background-color: rgb(69, 104, 156); color: white;">
      
    </div>
    <table class="col-md-6" cellspacing="10">
      <tr>
        <td style="background-image: url('../../assets/images/mini.jpg');"></td>
      </tr>
    </table>
  </div>
</div>