<div class="container" id="intro">
  <div class="row justify-content-md-center intro">
    <div class="col-md-10 text-center">
      <h2>Een lang verwachte aankoop</h2>
      <p>
        Het is een frisse herfstdag in 2007, ik zit naast mijn moeder in de auto te&nbsp;wachten&nbsp;voor&nbsp;het&nbsp;rode&nbsp;stoplicht.<br>
        Rijen met saaie, degelijke Duitse en Franse auto's komen&nbsp;log&nbsp;in&nbsp;beweging als&nbsp;het&nbsp;licht&nbsp;links&nbsp;op&nbsp;groen&nbsp;springt.<br>
        Plotseling bromt er tussen die grote grijze beesten een&nbsp;klein&nbsp;rap&nbsp;karretje&nbsp;vandaan.<br>
        Een knalrode mini stuitert over het ongelijke asfalt en&nbsp;laat&nbsp;de&nbsp;andere&nbsp;auto's&nbsp;ver&nbsp;achter&nbsp;zich.<br>
        Vanaf dat moment wist ik; Ik&nbsp;zal&nbsp;ooit&nbsp;zo'n&nbsp;auto&nbsp;rijden!<br>
        <br>
        We spoelen door naar april 2017, 
      </p>
    </div>
  </div>
</div>
