<div class="container" id="collage" style="margin: 0;">
  <div class="row text-center">
    <table class="col-12">
      <tr>
        <td class="medium" colspan="2" rowspan="2"></td>
        <td class="small"></td>
        <td class="large hidden-md-down" rowspan="3" colspan="3"></td>
      </tr>
      <tr>
        <td class="small"></td>
      </tr>
      <tr>
        <td class="small"></td>
        <td class="small"></td>
        <td class="small"></td>
      </tr>
    </table>
  </div>
</div>
