table {
  width: 100vw;
}
td {
  background-position: center;
  background-size: cover;
}
td:after {
  content: '';
  display: block;
  margin-top: 50%;
}
.small{
  width:16.6666%;
}
.medium{
  width: 25%;
}
.large{
  width:50%;
}
