<div class="container" id="collage" style="margin: 0;">
  <div class="row text-center">
    <table class="col-12" cellspacing="10">
      <tr>
        <td class="medium" colspan="2" rowspan="2" style="background-image: url('../../assets/images/mini.jpg');"></td>
        <td class="small" style="background-image: url('../../assets/images/mini.jpg');"></td>
        <td class="large hidden-md-down" rowspan="2" colspan="3" style="background-image: url('../../assets/images/mini.jpg');"></td>
      </tr>
      <tr>
        <td class="small" style="background-image: url('../../assets/images/mini.jpg');"></td>
      </tr>
    </table>
  </div>
</div>
